.tooling-apps-cache/app/4_properties_files/4_properties_files.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<!--  <flow name="4_properties_filesFlow" doc:id="e6d71f31-97fe-496d-9234-2cdbc1d555bf" >
		<http:listener doc:name="HTTP GET" doc:id="10dc3a23-d9c0-4d2e-88ad-b452dac77d3f" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<logger level="INFO" doc:name="Logger" doc:id="53b211e5-fb0f-410b-82de-fc4e5cf94329" message="${message}"/>
		<set-payload value="${message}" doc:name="Set Payload" doc:id="15ec86da-51fa-42c3-b10d-9af492dc0502" />
	</flow> -->
	<flow name="properties_dynamic" doc:id="a93e892f-3c5c-4049-8bb8-fb2310db08d9" >
		<http:listener doc:name="HTTP GET" doc:id="a1bb432e-fce2-4ea3-94d7-81b260e07c9d" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<logger level="INFO" doc:name="Logger" doc:id="13cad48f-b3fd-4404-8e93-9ddc1358fa2d" message='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"message": Mule::p("myMessage")&#10;}]'/>
		<set-payload value='#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;{&#10;	"message": Mule::p("myMessage")&#10;}]' doc:name="Set Payload" doc:id="96ee7c07-bd6d-4bf1-9aa4-f537e27de7f3" />
	</flow>
</mule>
